*{ 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: radial-gradient( rgba(183, 178, 176, 0.301) 0.1%, rgb(117, 221, 100) 99.8% );;
    height: 30vh;
    display: flex;
    
}
body, ul, li{
    align-content: left;
}
#films li {
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  #films li:hover {
    color: #b24242;
    background-color: #828a8b;
  }
  